.vscode/.ropeproject/
project.pymakr
downloaded/*
*.zip

downloadedstubs/

#Ignore virtual environment
.env/*
**/__pycache__/**

#ignore the scratchpad 
scratch/*
MCU/*

M5Stack
# !M5Stack/stubs
# M5Stack/apps
# M5Stack/blocks
# M5Stack/im*
# M5Stack/emo*
# M5Stack/res*
