# no python virtual environment
venv*
.env
.venv*

# no compiled python or caches
**/__pycache__
**/.*_cache

#ignore the scratchpad 
scratch/*

# ignore stubs 
# stubs generated in testing
board/stubs
minified/stubs
all-stubs
# Interim storage for bulkstubber
firmware-stubs

# tempfolder used by get_core  
build

# ignore test coverage reports
.coverage*
coverage/*
cov.xml

# no  test results 
junit/*
results/

# OS specific stuff
desktop.ini


# Do not check in the autodoc generated API documentaion files 
docs/_build
docs/api
docs/~$*

# no node_modules ( pyright ) 
node_modules


scripts/bulk_stubber.json

# ignore databases 
board/modulelist.db
minified/modulelist.db

# no poetry packaging 
dist/

# code modding output saved for tests / comparison
tests/codemods/codemod_test_cases/**/output.py
