project.pymakr
*.zip

# no python virtual environment
.env
.venv

# no compiled python 
**/__pycache__/**
.py_cache
.pytest_cache/*

#ignore the scratchpad 
scratch/*

# ignore stubs 
# stubs generated in testing
board/stubs
minified/stubs
all-stubs

stubs/*
dev-stubs
# generated stubs
generated


# ignore test coverage reports
.coverage*
coverage/*
cov.xml


# and tests results
junit/*


# OS specific stuff
desktop.ini

# no documentation artefacts
docs/~$*
docs/_build/

# Do not check in the autodoc generated API documentaion files 
docs/api
