# merge different spelling / email addressess into one and the same 
Jos Verlinde <Josverl@users.noreply.github.com> Josverl <Josverl@users.noreply.github.com>
<Josverl@users.noreply.github.com> <jos_verlinde@hotmail.com> 
<Josverl@users.noreply.github.com> <jos.verlinde@hotmail.com> 
<Josverl@users.noreply.github.com> <Jos_Verlinde@hotmail.com> 
<Josverl@users.noreply.github.com> <Jos.Verlinde@Microsoft.com> 
<Josverl@users.noreply.github.com> <josverl@microsoft.com>

Braden Mars <BradenM@users.noreply.github.com> <bradenmars@bradenmars.me>