# Production + dev requirements
--requirement requirements.txt
--requirement docs/requirements-docs.txt

# dev requirements
pytest              == 6.2.5
pytest-mock         == 3.6.1
pytest-json-report  == 1.4.1
pytest-metadata     == 1.11.0
mock                == 4.0.3
coverage            == 6.3


pyright             == 0.0.13   # does not match the actual pyright version
packaging           == 21.3
distro              == 1.6.0
