# Production + dev requirements
--requirement requirements.txt
--requirement docs/requirements-docs.txt

# dev requirements
pytest              >= 6.2 
pytest-cov          >= 2.12
pytest-mock         >= 1.13
pytest-json-report  >= 1.4
pytest-metadata     >= 1.11
mock                >= 4.0

black
pyright
packaging
distro >= 1.6