#production requirements
python-minifier == 2.5.0
requests == 2.27.0
mypy == 0.931

# Cross compilation 
mpy-cross == 1.17

# Bulk stubber
black   == 21.12b0
esptool == 3.2
rshell  == 0.0.31

# stub refactoring
libcst  == 0.4.0

# Docstubs
autoflake == 1.4

click == 8.0.3