#production requirements
esptool >= 2.8

python-minifier >= 2.5.0

requests >= 2.25.1

mypy >= 0.812

# Cross compilation 
mpy-cross >= 1.16

rshell  == 0.0.30
# stub refactoring
libcst  >= 0.3

requests >= 2.25.1

mypy >= 0.812
