# Production + dev requirements
requests        >= 2.26.0
esptool         >= 3.1
pyminifier      >= 2.1                  #python-minifier
libcst          >= 0.3.19

# dev requirements
pytest          >= 6.2.4 
pytest-cov      >= 2.12.1
pytest-mock     >= 1.13.0
pytest-json-report >= 1.4.0
mock            >= 4.0.3

mypy            >= 0.910
black           >= 21.6b0
pyright 	    >= 0.0.5

# python-dotenv   >= 0.19.0