# This workflow will :
# - create minified versions of createstubs*.py
# - run tests on these
# - and submit a PR to the branch <branch>-minify

name: minify-all

on:
  workflow_dispatch:
  push:
  # pull_request:
  #   branches: [ master ]
  # TODO: for PR need to specify a base when committing the PR

jobs:
  minify:
    runs-on: ubuntu-20.04 # ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Extract branch name (for potential PR)
        id: extract_branch
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - uses: actions/cache@v2
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('requirements.txt') }}-${{ hashFiles('requirements-dev.txt') }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pylint
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

      - name: flag tools executable
        run: |
          chmod +x $GITHUB_WORKSPACE/tests/tools/* --recursive --verbose
          MICROPYPATH=./board ./tests/tools/ubuntu_20_04/micropython_v1_16 -c "import sys;print(sys.path);import logging"

      - name: minify createstubs
        run: |
          python process.py minify -o ./minified -xc
          python process.py minify -s ./board/createstubs_mem.py -o ./minified -xc
          python process.py minify -s ./board/createstubs_db.py  -o ./minified -xc


      - name: run test on minified/createstubs.by
        run: |
          pytest -m minified

      - name: verify minified using pylint
        run: |
          pylint minified/createstubs.py -E -d E0401,E1101,E0213,E0602,E1121,E0211
          # CPython/Micropython Errors 
          # E0401: Unable to import '<upythonmodule>' (import-error)
          # E1101: Module 'gc' has no 'mem_free' member (no-member)
          # errors by minification 
          # E0211: Method has no argument (no-method-argument)
          # E1121: Too many positional arguments for method call (too-many-function-args)
          # E0213: Method should have "self" as first argument (no-self-argument)
          # E0602: Undefined variable (undefined-variable)

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        # ref: https://github.com/peter-evans/create-pull-request
        with:
          title: "${{ steps.extract_branch.outputs.branch }} : update minified/createstubs.py"
          commit-message: add/update minified
          branch: ${{ steps.extract_branch.outputs.branch }}-minify
          labels: |
            automated pr

      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
