# This workflow will :
# - create a minified version of createstubs.py 
# - run a quick test on that 
# - and submit a PR to the branch minify-<branch>
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: minify-RP

on:
  workflow_dispatch:
  push:
  # pull_request:
  #   branches: [ master ]
  # TODO: for PR need to specify a base when committing the PR 

jobs:
  minify:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Extract branch name
      id: extract_branch
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pylint
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

    - name: flag tools executable
      run: |
        chmod +x $GITHUB_WORKSPACE/tools/* -v
        MICROPYPATH=./board ./tools/micropython -c "import sys;print(sys.path);import logging" 

    - name: run `process minify`
      run: |
        python process.py minify

    - name: verify minified using pylint
      run: |
        pylint minified/createstubs.py -E -d E0401,E1101
        # ignore Unable to import '<upythonmodule>' (import-error)
        # ignore Module 'gc' has no 'mem_free' member (no-member)

    - name: run minified
      run: |
        MICROPYPATH=./board tools/micropython ./minified/createstubs.py

    - name: import minified
      run: |
        MICROPYPATH=./board tools/micropython -m ./minified/createstubs

    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v3
      # ref: https://github.com/peter-evans/create-pull-request
      with:
        title: '${{ steps.extract_branch.outputs.branch }} : update minified/createstubs.py'
        commit-message: add/update minified
        path: minified
        branch: minify-${{ steps.extract_branch.outputs.branch }}
        labels: |
          automated pr

    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"




